files:
  "/etc/awslogs/config/catalina.conf":
    mode: "000644"
    owner: "root"
    group: "root"
    content: |
      [/var/log/tomcat9/catalina.*.log]
      file = /var/log/tomcat9/catalina.*.log
      log_group_name = /aws/elasticbeanstalk/Datafetch-env/catalina
      log_stream_name = {instance_id}
      datetime_format = %Y-%m-%d %H:%M:%S

      [/var/log/tomcat9/localhost.*.log]
      file = /var/log/tomcat9/localhost.*.log
      log_group_name = /aws/elasticbeanstalk/Datafetch-env/localhost
      log_stream_name = {instance_id}
      datetime_format = %d/%b/%Y:%H:%M:%S %z

commands:
  "01_start_awslogs":
    command: service awslogs restart
